@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movies app</h1>
    <p>Here you'll see a list of movies and where can be added, deleted, edited and searched.</p>
</div>
